﻿@model BlogWebsite.Administration.Models.ViewModel.StoryContentVM
@{
    ViewBag.Title = "Chỉnh sửa nội dung chương";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    var menuVM = ViewBag.menuVM as BlogWebsite.Administration.Models.ViewModel.MenuVM;
}


@Html.Partial("_MenuPartialView", menuVM)


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@Session["StoryName"]</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <!-- Main content -->
    <section class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Chỉnh sửa nội dung chương</h3>
            </div>
            @using (Html.BeginForm("Update", "StoryContent", FormMethod.Post))
            {
                <div class="card-body">
                    <div class="form-group" style="width:100%">
                        <label for="txtChapterName">Tên chương</label>
                        @Html.EditorFor(m => m.ChapterName, new { htmlAttributes = new { @id = "txtChapterName", @class = "form-control", @type = "text", @placeholder = "Nhập tên chương" } })
                    </div>
                    <div class="form-group" style="width:100%">
                        <label for="txtContent">Nội dung truyện</label>
                        <textarea id="ckeditorContent" class="ckeditor" name="Content"></textarea>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="fa-pull-right">
                        <button type="submit" class="btn btn-primary" style="width:80px;margin-right:10px;">Lưu</button>
                        <a href="/Story/Contents/@Session["StoryId"]">
                            <button type="button" class="btn btn-dark">Thoát</button>
                        </a>
                    </div>
                </div>
            }

        </div>

    </section>

</div>

<div id="editorcontents" hidden>
    @Html.Raw(Model.Content)
</div>


<script>

    $(function () {
        var html = $("#editorcontents").html();
        CKEDITOR.instances['ckeditorContent'].setData(html)
    });

</script>
