﻿@model BlogWebsite.Administration.Models.ViewModel.StoryContentVM

<div style="margin-right:10px; margin-left:10px;">
    <h5 style="color:black;">@Model.ChapterName</h5>

    @Html.Raw(Model.Content)
</div>
