﻿@model BlogWebsite.Administration.Models.ViewModel.MenuVM

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="~/Assets/ThemeLibs/dist/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Blog Website</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Assets/ThemeLibs/dist/img/me_1.JPG" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@Session["UserName"]</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="/Home/Index" class="nav-link @Model.Home">
                        <i class="nav-icon fa fa-home"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview @Model.Account">
                    <a href="#" class="nav-link @Model.Account_Main">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Tài khoản
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/User/Index" class="nav-link @Model.Account_User">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Người dùng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Role/Index" class="nav-link @Model.Account_Role">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Vai trò</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Permission/Index" class="nav-link @Model.Account_Permission">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Quyền</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview @Model.Story">
                    <a href="#" class="nav-link @Model.Story_Main">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Truyện
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/StoryType/Index" class="nav-link @Model.Story_Type">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Thể loại</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Story/Index" class="nav-link @Model.Story_Read">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Truyện đọc</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/StoryAudio/Index" class="nav-link @Model.Story_Audio">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Truyện audio</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/StoryComics/Index" class="nav-link @Model.Story_Comics">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Truyện tranh</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-music"></i>
                        <p>
                            Âm nhạc
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../forms/general.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Âm nhạc 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../forms/advanced.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Âm nhạc 2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../forms/editors.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Âm nhạc 3</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-film"></i>
                        <p>
                            Phim
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../tables/simple.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Phim 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../tables/data.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Phim 2</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-images"></i>
                        <p>
                            Hình ảnh
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../mailbox/mailbox.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Hình ảnh 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../mailbox/compose.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Hình ảnh 2</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
