﻿@model BlogWebsite.Administration.Models.ViewModel.StoryVM
@{
    /**/

    ViewBag.Title = "Thêm mới truyện";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    var menuVM = ViewBag.menuVM as BlogWebsite.Administration.Models.ViewModel.MenuVM;
}


@Html.Partial("_MenuPartialView", menuVM)


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Quản lý truyện</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <!-- Main content -->
    <section class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thêm mới truyện</h3>
            </div>
            @using (Html.BeginForm("Insert", "Story", FormMethod.Post, new { enctype = "Multipart/form-data" }))
            {
                <div class="card-body">
                    <div class="form-group" style="width:30%">
                        <label for="txtChapterIndex">Thể loại truyện</label>
                        @Html.DropDownListFor(m => m.StoryTypeId, (IEnumerable<SelectListItem>)ViewBag.lstStoryType, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group" style="width:100%">
                        <label for="txtStoryName">Tên truyện</label>
                        @Html.EditorFor(m => m.StoryName, new { htmlAttributes = new { @id = "txtStoryName", @class = "form-control", @type = "text", @placeholder = "Nhập tên truyện" } })
                    </div>
                    <div class="form-group" style="width:30%">
                        <label for="txtAuthor">Tác giả</label>
                        @Html.EditorFor(m => m.Author, new { htmlAttributes = new { @id = "txtAuthor", @class = "form-control", @type = "text", @placeholder = "Nhập tên tác giả" } })
                    </div>
                    <div class="form-group" style="width:15%">
                        <label for="txtChapterNumber">Số chương</label>
                        @Html.EditorFor(m => m.ChapterNumber, new { htmlAttributes = new { @id = "txtChapterNumber", @class = "form-control", @type = "number", @placeholder = "Nhập số chương" } })
                    </div>
                    <div class="form-group" style="width:30%">
                        <label for="txtStatus">Trạng thái</label>
                        @Html.EditorFor(m => m.Status, new { htmlAttributes = new { @id = "txtStatus", @class = "form-control", @type = "text", @placeholder = "Nhập trạng thái truyện" } })
                    </div>
                    <div class="form-group" style="width:100%">
                        <label for="txtPicture">Ảnh minh họa</label>
                        @Html.EditorFor(m => m.Picture, new { htmlAttributes = new { @id = "txtPicture", @class = "form-control", @type = "file", @accept = "image/*", @style = "width:80%; margin-right:5px;padding:.2rem .75rem;" } })
                    </div>
                    <div class="form-group" style="width:100%">
                        <label for="txtIntroduction">Giới thiệu truyện</label>
                        <textarea class="ckeditor" name="Introduction"></textarea>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="fa-pull-right">
                        <button type="submit" class="btn btn-primary" style="width:80px;margin-right:10px;">Lưu</button>
                        <a href="/Story/Index">
                            <button type="button" class="btn btn-dark">Thoát</button>
                        </a>
                    </div>
                </div>
            }

        </div>

    </section>

</div>


