﻿@model BlogWebsite.Administration.Models.ViewModel.ForgetPasswordVM

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box">

    <div class="login-logo">
        <a href="#"><b>Phạm Trọng Tấn</b></a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">

            <p class="login-box-msg" style="font-size:20px;">Nhập email để lấy lại mật khẩu</p>

            @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
            {
            <div class="form-group has-feedback">
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "Email" } })
                <span class="fa fa-envelope form-control-feedback"></span>
            </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="width:30%; margin:auto;">Gửi</button>
                    </div>
                </div>
            }
            <div style="margin-top:20px;"></div>
            <a href="/Account/Login" class="text-center">Đã có tài khoản?</a>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

