﻿@model BlogWebsite.Administration.Models.ViewModel.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box">

    <div class="login-logo">
        <a href="#"><b>Phạm Trọng Tấn</b></a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg" style="font-size:20px;">Đăng nhập hệ thống</p>

            @{
                if ((string)TempData["LoginMessage"] == "No")
                {
                    <div class="alert alert-warning alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Tên đăng nhập hoặc mật khẩu không đúng!
                    </div>
                }
            }


            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <div class="form-group has-feedback">
                    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Tài khoản" } })
                    <span class="fa fa-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Mật khẩu" } })
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="width:30%;margin:auto;">Đăng nhập</button>
                    </div>
                </div>
            }

            <div class="social-auth-links text-center mb-3">
                <p>- Hoặc -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fa fa-facebook mr-2"></i> Đăng nhập sử dụng Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fa fa-google-plus mr-2"></i> Đăng nhập sử dụng Google+
                </a>
            </div>
            <!-- /.social-auth-links -->
            <p class="mb-1">
                <a href="/Account/ForgetPassword">Quên mật khẩu</a>
            </p>
            <p class="mb-0">
                <a href="/Account/Register" class="text-center">Đăng ký tài khoản</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>


