﻿@model BlogWebsite.Administration.Models.ViewModel.RegisterVM
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="register-box">

    <div class="register-logo">
        <a href="#"><b>Phạm Trọng Tấn</b></a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">

            <p class="login-box-msg" style="font-size:20px;">Đăng ký tài khoản</p>

            @{
                if (!string.IsNullOrWhiteSpace((string)TempData["RegisterMessage"]))
                {
            <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @TempData["RegisterMessage"]
            </div>
                }
            }

            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                <div class="form-group has-feedback">
                    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Tài khoản" } })
                    <span class="fa fa-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "Email" } })
                    <span class="fa fa-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Mật khẩu" } })
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(m => m.RePassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Nhập lại mật khẩu" } })
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Đồng ý các điều khoản của <a href="#">Hệ thống</a>
                            </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="width:30%;margin:auto;">Đăng ký</button>
                    </div>
                </div>
            }

            <div class="social-auth-links text-center">
                <p>- Hoặc -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fa fa-facebook mr-2"></i>
                    Đăng ký sử dụng Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fa fa-google-plus mr-2"></i>
                    Đăng ký sử dụng Google+
                </a>
            </div>
            <a href="/Account/Login" class="text-center">Đã có tài khoản?</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.card -->
</div>

