﻿@model BlogWebsite.Administration.Models.ViewModel.RoleVM
@{
    ViewBag.Title = "Cấp quyền";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    var menuVM = ViewBag.menuVM as BlogWebsite.Administration.Models.ViewModel.MenuVM;
}

<style>
    fieldset.permission-group {
        display: inline;
        margin: 5px 10px 5px 0;
        padding: 0 0 5px 10px;
        border: 1px groove #0094ff;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        /*box-shadow: 0px 0px 1px 1px #e2dfdf inset;*/
        width: 30%;
        vertical-align: top
    }

        fieldset.permission-group legend {
            width: auto;
            padding: 0 10px;
            border-bottom: none;
            margin-bottom: 5px;
            box-shadow: none;
        }

        fieldset.permission-group .permission-checkbox {
            display: block;
        }

    .permission-group {
        display: table;
    }
</style>


@Html.Partial("_MenuPartialView", menuVM)


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Quản lý vai trò</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <!-- Main content -->
    <section class="content">

        <div class="card">

            <div class="card-header">
                <h3 class="card-title">Cấp quyền</h3>
            </div>

            @using (Html.BeginForm("Grant", "Role", FormMethod.Post))
            {
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group permission-group">
                            <fieldset class="permission-group" title="Anh Tấn">

                                <legend><input type="checkbox" />Item</legend>

                                <div class="permission-checkbox">
                                    <input type="checkbox" name="{{permission.Id}}" title="{{permission.Description}}" /><span for="permission.Name" title="ok">ok1</span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="fa-pull-right">
                        <button type="submit" class="btn btn-primary" style="width:80px;margin-right:10px;">Lưu</button>
                        <a href="/Role/Index">
                            <button type="button" class="btn btn-dark">Thoát</button>
                        </a>
                    </div>
                </div>
            }

        </div>

    </section>

</div>


