﻿@model BlogWebsite.Administration.Models.ViewModel.RoleVM
@{
    ViewBag.Title = "Thêm mới vai trò";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    var menuVM = ViewBag.menuVM as BlogWebsite.Administration.Models.ViewModel.MenuVM;
}


@Html.Partial("_MenuPartialView", menuVM)


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Quản lý vai trò</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <!-- Main content -->
    <section class="content">

        <div class="card">

            <div class="card-header">
                <h3 class="card-title">Thêm mới vai trò</h3>
            </div>

            @using (Html.BeginForm("Insert", "Role", FormMethod.Post))
            {
                <div class="card-body">
                    <div class="form-group" style="width:30%">
                        <label for="txtRoleName">Vai trò</label>
                        @Html.EditorFor(m => m.RoleName, new { htmlAttributes = new { @id = "txtRoleName", @class = "form-control", @type = "text", @placeholder = "Nhập vai trò" } })
                    </div>
                    <div class="form-group" style="width:30%">
                        <label for="txtDescription">Mô tả</label>
                        @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @id = "txtDescription", @class = "form-control", @type = "text", @placeholder = "Nhập mô tả" } })
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="fa-pull-right">
                        <button type="submit" class="btn btn-primary" style="width:80px;margin-right:10px;">Lưu</button>
                        <a href="/Role/Index">
                            <button type="button" class="btn btn-dark">Thoát</button>
                        </a>
                    </div>
                </div>
            }

        </div>

    </section>

</div>


