﻿@model BlogWebsite.Administration.Models.ViewModel.UserVM
@{
    ViewBag.Title = "Thêm mới người dùng";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="~/Assets/ThemeLibs/dist/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Blog Website</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Assets/ThemeLibs/dist/img/me_1.JPG" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@Session["UserName"]</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="/Home/Index" class="nav-link">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fa fa-pie-chart"></i>
                        <p>
                            Tài khoản
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/User/Index" class="nav-link active">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Người dùng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Role/Index" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Vai trò</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Permission/Index" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Quyền</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-tree"></i>
                        <p>
                            Truyện
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../UI/general.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Tryện</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../UI/icons.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Truyện tranh</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../UI/buttons.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Truyện audio</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-edit"></i>
                        <p>
                            Âm nhạc
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../forms/general.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Âm nhạc 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../forms/advanced.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Âm nhạc 2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../forms/editors.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Âm nhạc 3</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-table"></i>
                        <p>
                            Phim
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../tables/simple.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Phim 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../tables/data.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Phim 2</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-envelope-o"></i>
                        <p>
                            Hình ảnh
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../mailbox/mailbox.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Hình ảnh 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../mailbox/compose.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Hình ảnh 2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../mailbox/read-mail.html" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p>Hình ảnh 3</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- End Main Sidebar Container -->


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Quản lý người dùng</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <!-- Main content -->
    <section class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thêm mới người dùng</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @using (Html.BeginForm("Insert", "User", FormMethod.Post))
            {
                <div class="card-body">
                    <div class="form-group" style="width:30%">
                        <label for="txtUserName">Tên tài khoản</label>
                        @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @id = "txtUserName", @class = "form-control", @type = "text", @placeholder = "Nhập tên tài khoản" } })
                    </div>
                    <div class="form-group" style="width:30%">
                        <label for="txtPassword">Mật khẩu</label>
                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @id = "txtPassword", @class = "form-control", @type = "password", @placeholder = "Nhập mật khẩu" } })
                    </div>
                    <div class="form-group" style="width:30%">
                        <label for="txtEmail">Địa chỉ Email</label>
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @id = "txtEmail", @class = "form-control", @type = "email", @placeholder = "Nhập địa chỉ email" } })
                    </div>
                    <div class="form-group" style="width:30%">
                        <label for="txtPhone">Điện thoại</label>
                        @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @id = "txtPhoneNumber", @class = "form-control", @type = "tel", @placeholder = "Nhập số điện thoại" } })
                    </div>
                    <div class="form-group" style="width:50%">
                        <label for="txtAddress">Địa chỉ</label>
                        @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @id = "txtAddress", @class = "form-control", @type = "text", @placeholder = "Nhập địa chỉ" } })
                    </div>
                    @*<div class="form-check">
                        @Html.EditorFor(m => m.Active, new { htmlAttributes = new { @id = "txtCheckbox", @class = "form-check-input", @type = "checkbox" } })
                        <label class="form-check-label" for="txtCheckbox">Kích hoạt</label>
                    </div>*@
                   
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="fa-pull-right">
                        <button type="submit" class="btn btn-primary" style="width:80px;margin-right:10px;">Lưu</button>
                        <a href="/User/Index">
                            <button type="button" class="btn btn-dark">Thoát</button>
                        </a>
                    </div>
                </div>
            }
        </div>

    </section>

</div>



