﻿@model BlogWebsite.Administration.Models.ViewModel.UserVM
@{
    ViewBag.Title = "Chỉnh sửa thông tin người dùng";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    var menuVM = ViewBag.menuVM as BlogWebsite.Administration.Models.ViewModel.MenuVM;
}


@Html.Partial("_MenuPartialView", menuVM)


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Quản lý người dùng</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <!-- Main content -->
    <section class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Chỉnh sửa thông tin người dùng:&emsp;<b><u>@Model.UserName</u></b></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @using (Html.BeginForm("Update", "User", FormMethod.Post))
            {
                <div class="card-body">
                    <div class="form-group" style="width:30%">
                        <label for="txtRole">Vai trò</label>
                        @Html.DropDownListFor(m => m.RoleId, new SelectList(ViewBag.lstRole, "Id", "RoleName"), htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group" style="width:30%">
                        <label for="txtEmail">Địa chỉ Email</label>
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @id = "txtEmail", @class = "form-control", @type = "email", @placeholder = "Nhập địa chỉ email" } })
                    </div>
                    <div class="form-group" style="width:30%">
                        <label for="txtPhone">Điện thoại</label>
                        @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @id = "txtPhoneNumber", @class = "form-control", @type = "tel", @placeholder = "Nhập số điện thoại" } })
                    </div>
                    <div class="form-group" style="width:50%">
                        <label for="txtAddress">Địa chỉ</label>
                        @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @id = "txtAddress", @class = "form-control", @type = "text", @placeholder = "Nhập địa chỉ" } })
                    </div>
                    <div class="form-group" style="width:30%">
                        <label for="txtRole">Trạng thái</label>
                        @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>)ViewBag.lstUserStatus, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="fa-pull-right">
                        <button type="submit" class="btn btn-primary" style="width:80px;margin-right:10px;">Lưu</button>
                        <a href="/User/Index">
                            <button type="button" class="btn btn-dark">Thoát</button>
                        </a>
                    </div>
                </div>
            }
        </div>

    </section>

</div>



