﻿@model BlogWebsite.Administration.Models.ViewModel.StoryAudioContentVM
@{
    ViewBag.Title = "Thêm mới chương";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="~/Assets/ThemeLibs/dist/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Blog Website</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Assets/ThemeLibs/dist/img/me_1.JPG" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@Session["UserName"]</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="/Home/Index" class="nav-link">
                        <i class="nav-icon fa fa-home"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Tài khoản
                            <i class="right fa fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/User/Index" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Người dùng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Role/Index" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Vai trò</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Permission/Index" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Quyền</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Truyện
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/StoryType/Index" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Thể loại</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Story/Index" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Truyện đọc</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/StoryAudio/Index" class="nav-link active">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Truyện audio</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/StoryComics/Index" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Truyện tranh</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-music"></i>
                        <p>
                            Âm nhạc
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../forms/general.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Âm nhạc 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../forms/advanced.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Âm nhạc 2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../forms/editors.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Âm nhạc 3</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-film"></i>
                        <p>
                            Phim
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../tables/simple.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Phim 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../tables/data.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Phim 2</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-images"></i>
                        <p>
                            Hình ảnh
                            <i class="fa fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../mailbox/mailbox.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Hình ảnh 1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../mailbox/compose.html" class="nav-link">
                                <i class="fas fa-caret-right nav-icon"></i>
                                <p>Hình ảnh 2</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Truyện Dế Mèn Phưu Lưu Ký</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <!-- Main content -->
    <section class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thêm mới chương</h3>
            </div>
            @using (Html.BeginForm("Insert", "StoryAudioContent", FormMethod.Post, new { enctype ="Multipart/form-data" }))
            {
                <div class="card-body">
                    <div class="form-group" style="width:100%">
                        <label for="txtChapterName">Tên chương</label>
                        @Html.EditorFor(m => m.ChapterName, new { htmlAttributes = new { @id = "txtChapterName", @class = "form-control", @type = "text", @placeholder = "Nhập tên chương" } })
                    </div>
                    <div class="form-group" style="width:100%">
                        <label for="txtAudioPath">Đường dẫn file audio</label>
                        <div class="form-inline">
                            @Html.EditorFor(m => m.AudioPath, new { htmlAttributes = new { @id = "txtAudioPath", @class = "form-control", @type = "file", @style = "width:80%; margin-right:5px;padding:.2rem .75rem;" } })
                            @*<input id="fileUpload" accept="/*" type="file" style="display:none;" />
                            <input id="btnUploadFile" type="button" value="..." class="btn btn-success" />*@
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" style="width:80px;margin-right:10px;">Lưu</button>
                        <a href="/Story/Contents">
                            <button type="button" class="btn btn-dark">Thoát</button>
                        </a>
                    </div>
                </div>
            }

        </div>

    </section>

</div>


<script>

    $(function () {

        //$("#btnUploadFile").click(function () {
        //    $("#fileUpload").trigger("click");
        //});

        //$("#fileUpload").change(function () {
        //    if (window.FormData !== undefined) {
        //        var fileUpload = $("#fileUpload").get(0);
        //        var files = fileUpload.files;
        //        var formData = new FormData();
        //        formData.append("file", files[0]);

        //        $.ajax({
        //            type: "POST",
        //            url: "/StoryAudioContent/UploadProcess/",
        //            contentType: false,
        //            processData: false,
        //            cache: false,
        //            data: formData,
        //            success: function (filePath) {
        //                $("#txtAudioPath").val(filePath);
        //            },
        //            error: function (err) {
        //                console.log(err);
        //            }
        //        });
        //    }
        //});
    });

</script>


